table {
    border-collapse: collapse;
  }
table, tr, td {
    border: 1px solid black;
    height: 50px;
    width: 15px;
    margin: 2px;
    font-family: 'Orbitron', sans-serif; 
    border-radius: 20px;
}
.header {
    width: 30%;
    margin: 0 auto;
    margin-top: 15px;
}
#logo1{
    font-family: 'Permanent Marker', cursive;
    width: 100%;
    font-size: 80px;
    margin: 0 auto;
}
#logo{
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
    margin-top: 50px;
    border-color: #fff;
}
.button {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    margin-left: 450px;
    width: 450px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: rgb(140, 199, 233);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 20px;
}
.button:hover {background-color: rgb(140, 199, 233);}

.button:active {
  background-color: gray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
body {
    background-image: url("https://hdqwalls.com/download/assassins-creed-odyssey-nature-background-key-art-4k-tl-1920x1080.jpg");
    /* background-image: url("https://mymblemoments.files.wordpress.com/2015/05/paralax_space21.png"); */
    margin: 0px;
    background-size: 100%;
}
.container{
    display: block;
    width: 900px;
    margin: 0 auto;
    margin-top: 10px;

}
.container2{
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    display:block ;
    position: relative;
}
#big_grid_container{
    background-color: black;
    color: black;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.box1_container, .box2_container, .box3_container, .box4_container, .box5_container, .box6_container, .box7_container, .box8_container, .box9_container{
    background-color: whitesmoke;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    
}
.color {
    background-color: rgb(158, 196, 210)
}

.button_design {
    height: 50px;
    width: 50px;
    background-color: rgb(110, 148, 111);
    opacity: 0.9;
    transition: 0.3s;
}
.button_design:hover {opacity: 2}
a {
    color: #0060B6;
    text-decoration: none;
}

a:hover 
{
     text-decoration:none; 
     cursor:pointer;  
}
